<div class="bg-light p-3">
    <div class="mb-1 overflow-scroll p-3 d-flex flex-column-reverse" id="message-list" style="height: 60vh">
        <% for (let message of messages) { %>
            <% if (request.isMe(message.sender)) { %>
                <div class="mt-2 d-flex flex-row-reverse">
                    <span class="d-flex bg-primary text-light rounded-3 p-2"
                          style="max-width: 50%"><%= message.text %></span>
                </div>
            <% } else { %>
                <div class="mt-2 d-flex">
                    <span class="bg-secondary text-light rounded-3 p-2"
                          style="max-width: 50%"><%= message.text %></span>
                </div>
            <% } %>
        <% } %>
    </div>

    <form id="message-form" class="d-flex flex-row align-items-center">
        <div class="form-floating d-flex me-4" style="flex-grow: 100">
            <input id="message-input" type="text" name="text" class="form-control" placeholder="message"/>
            <label id="message-label" for="message-input">Input message</label>
        </div>
        <button type="submit" class="d-flex btn btn-outline-primary" style="flex-basis: 30px">
            <i class="bi bi-cursor"></i>
        </button>
    </form>
</div>

<script>
  $(document).ready(() => {
    $("#message-form").submit((event) => {
      event.preventDefault();
      const messageInput = $("#message-input");
      const text = messageInput.val();
      messageInput.val("");

      if (text.length === 0) {
        messageInput.addClass("is-invalid").on("input", function () {
          messageInput.off("input");
          messageInput.removeClass("is-invalid");
        });
        return;
      }

      $.ajax("/message/<%= partner._id %>", {
        type: "POST",
        data: {
          text
        },
        dataType: "json",
        success: (data) => {
          $("#message-list").prepend(`<div class="mt-2 d-flex flex-row-reverse">
                    <span class="d-flex bg-primary text-light rounded-3 p-2"
                          style="max-width: 50%">${text}</span>
                </div>`);
        },
        error: (data) => {
          console.error("Error sending stuff", data);
        }
      })
    })
  })
</script>
