<%- await include("../../partials/search", {keyword: ""}) %>

<div class="container">
    <% for (const post of posts){ %>
        <%- await include("../../partials/post/listing", {post}); %>
    <% } %>
</div>
