<form class="container-sm mt-3 text-center bg-light p-3" action="/bio" method="POST" enctype="multipart/form-data">
    <h1 class="mb-5">My User Info</h1>
    <div class="mb-3 row">
        <label for="displayName" class="form-label col-sm-2">Display Name</label>
        <div class="col-sm-10">
            <input class="form-control" id="displayName" name="displayName" value="<%= request.user.displayName %>">
        </div>
    </div>

    <div class="mb-3 row">
        <label for="avatar" class="form-label col-sm-2">Avatar</label>
        <div class="col-sm-10 border-2" style="width: 150px; height: 150px; box-sizing: content-box;">
            <%- include("../partials/imageUpload", { fieldName: "avatar", defaultUrl: request.user.avatar }); %>
        </div>
    </div>

    <div class="mb-3 row">
        <label for="score" class="form-label col-sm-2">Score</label>
        <div class="col-sm-10">
            <input class="form-control" id="score" value="<%= request.user.score %>" disabled>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="phoneNumber" class="form-label col-sm-2">Phone Number</label>
        <div class="col-sm-10">
            <input class="form-control" id="phoneNumber" name="phoneNumber" value="<%= request.user.phoneNumber %>">
        </div>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Update</button>
</form>
