<script>
    let toAdd = [], toRemove = [];
</script>
<div class="col-md-8">
    <button id="createnew" name="createnew" class="btn btn-success"
            onclick="
                    window.location.pathname = '/post/me/create'; ">
        create new
    </button>
</div>
<% for (const product of post){%>
    <%- include("../partials/post_brief", { product: product, isSeller: true}); %>
<% } %>