<form class="container-sm mt-3 text-center bg-light p-5 rounded-5 auth-form" action="/register" method="POST">
    <h1>Register</h1>
    <div class="mb-3 mt-3 row">
        <label for="username" class="form-label col-sm-3">Username</label>
        <div class="col-sm-9">
            <input class="form-control" id="username" name="username">
        </div>
    </div>
    <div class="mb-3 mt-3 row">
        <label for="displayName" class="form-label col-sm-3">Name</label>
        <div class="col-sm-9">
            <input class="form-control" id="displayName" name="displayName">
        </div>
    </div>
    <div class="mb-3 mt-3 row">
        <label for="phoneNumber" class="form-label col-sm-3">Phone Number</label>
        <div class="col-sm-9">
            <input class="form-control" id="phoneNumber" name="phoneNumber">
        </div>
    </div>
    <div class="mb-3 mt-3 row">
        <label for="password" class="form-label col-sm-3">Password</label>
        <div class="col-sm-9">
            <input class="form-control" id="password" type="password" name="password"/>
        </div>
    </div>
    <div class="mb-3 mt-3 row">
        <label for="password-confirm" class="form-label col-sm-3">Password Confirm</label>
        <div class="col-sm-9">
            <input class="form-control" id="password-confirm" type="password" name="passwordConfirm"/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Register</button>
</form>
