<nav class="navbar navbar-expand-lg navbar-light mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img id="logoIcon" src="/image/logo.png">
            Good Market
        </a>
        <ul class="navbar-nav d-flex flex-row">
            <% if (request.user) { %>
                <%- await include("./userNavOptions", {request}) %>
            <% } else { %>
                <%- await include("./navLink", {request, url: "/login", title: "Login"}) %>
                <%- await include("./navLink", {request, url: "/register", title: "Register"}) %>
            <% } %>
        </ul>
    </div>
</nav>
