<li class="nav-item dropdown">
    <a class="nav-link" href="#" id="navbarDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        <div style="height: 25px; width: 25px;">
        <%- await include("../avatar", {avatar: request.user.avatar}) %>
        </div>
    </a>
    <ul class="dropdown-menu position-absolute" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/post?user=me">My Posts</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="/user/<%= request.user._id %>">My Profile</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="/logout">Logout</a></li>
    </ul>
</li>
