.auth-form {
  max-width: 800px;
}

.file-input {
  height: 100%;
  width: 100%;

}

.file-input-text {
  height: 100%;
  width: 100%;
}

.file-input-preview {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition-duration: 300ms;
}

.file-input-preview:hover {
  opacity: 0;
  transition-duration: 300ms;
}
.thumbnail img {
  max-height: 150px;
}

.thumbnail .description {
  color: #7f7f7f;
}

#logoIcon {
  height: 1em;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-image: url("/image/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
