<% if (avatar) { %>
    <img class="rounded-circle bg-dark h-100 w-100" src="<%= avatar %>" alt="avatar"
         style="object-position: center; object-fit: cover"/>
<% } else { %>
    <div class="rounded-circle bg-dark container h-100 w-100"></div>
<% } %>
