<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Good Market</a>
        <div class="d-flex nav-item">
            <% if (request.user) { %>
                <a class="nav-link" href="/logout">Logout</a>
            <% } else { %>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Register</a>
            <% } %>
        </div>
    </div>
</nav>
