<div class="container">
    <h1><%= title %></h1>
    <p>
        <%= message %>
    </p>
    <b class="btn btn-info" onclick="window.history.back()">Go back</b>
    <a href="/" class="btn btn-info">Go home</a>
</div>
