<%- await include("../partials/search", {keyword: ""}) %>

<div class="mt-5">
    <h1 class="text-center">Newest posts</h1>
    <% for (post of posts) { %>
        <%- await include("../partials/post/listing", {post}) %>
    <% } %>
    <div class="text-center mt-5">
        <a class="btn btn-primary px-5 py-2" href="/post/">View more</a>
    </div>
</div>
