<script>
    function turn(something_id){
        if (document.getElementById(something_id).style.display == 'none'){
            document.getElementById(something_id).style.display = 'block';
        } else {
            document.getElementById(something_id).style.display = 'none'
        }
    }
</script>
<i class="btn btn-info" onclick="turn('filter');">Filter</i><br>
<div class="container" style="background: white">
    <div id="filter" style="display: none">
        <br><i class="btn btn-warning" onclick="turn('date-filter');">Date filter</i><br>
        <div id="date-filter" style="display: none">
            <label for="from-date">From date</label>
            <input type="date" id="from-date">
            <label for="to-date">To date</label>
            <input type="date" id="to-date">
        </div><br>
        <i class="btn btn-warning" onclick="turn('price-filter');">Price filter</i><br>
        <div id="price-filter" style="display: none">
            <label for="from-price">From price</label>
            <input type="number" id="from-price" min="0" max="2000000000">
            <label for="to-price">To price</label>
            <input type="number" id="to-price" min="0" max="2000000000">
        </div><br>
    </div>
</div>

<%- await include("../partials/listDisplay", {searchrs: searchrs, pages:pages})%>

